---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <br><br>
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div>
    <ul class="tags post-tags cf">
      <li><i class="fa fa-tag"></i>Tagged:</li>
      {% for tag in page.tags %}
      <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% include disqus.html %}
</article>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- tag, category search -->
<script defer src="/js/alexpearce.js"></script>
